__pycache__/
.git/
.venv/
.vscode/
._tmp/
outputs/
benchmark_reports/
bysj_project/
cursor-view-main/
datasets/
ncnn-yolov13-android-main/
papers/
runs/
ultralytics-main/
yolov13-main/
*.doc
*.docx
*.gif
*.log
*.mhtml
*.pdf
*.zip
*.pt
*.onnx
*.mp4
*.avi
*.jpg
*.jpeg
*.png
